<form method="post" action="/guardarPost">
	<div>
	     <label for="nombres" class="rem">Nombres:</label>
         <input type="text" Placeholder="Nombres" style="border-radius: 2px; border: 1px #999 solid; padding: 3px;"> 
    </div>
    <div>
	    <label for="post" class="rem">Entrada:</label>
        <input type="text" Placeholder="Post" style="border-radius: 2px; border: 1px #999 solid; padding: 3px;"> 
	    
    </div>
    <div>
    	<input type="submit" name="envio" value="Registrar Post">
     </div> 
</form>
